<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gestione Libri</title>
</head>
<body>
	<a th:href="@{/admindash}">Torna a Dashboard</a>
	<table>
		<tr th:each="libro : ${libri}">
			<td></td>
			<td th:text="${libro.titolo}"></td>
			<td th:text="${libro.prezzo}"></td>
			<td th:text="${libro.categoria.descrizione}"></td>
			<td th:text="${libro.autore.nome} + ' ' + ${libro.autore.cognome}"></td>
			<td th:text="${libro.quantita}"></td>
			<td><a>Modifica</a> <a>Elimina</a></td>
		</tr>
	</table>
	<hr>
	<form action="/adminlibri" method="post" enctype="multipart/form-data">
		<input type="text" name="titolo" required> <br> <input
			type="number" step="any" name="prezzo" required> <br> <input
			type="number" name="quantita" required> 
			<br> 
			<select name="autore">
			<option th:each="autore : ${autori}" th:text="${autore.nome} + ' ' + ${autore.cognome}" th:value="${autore.id}"></option>
		</select>
			<br>
			<select name="categoria">
			<option th:each="categoria : ${categorie}" th:text="${categoria.descrizione}" th:value="${categoria.id}"></option>
			</select>
			<br>
			<input type="file" name="copertina">
			<br>
			<input type="submit" value="Registra">
	</form>
</body>
</html>