<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dettaglio Libro</title>
</head>
<body>
	<a th:href="@{/}">Torna a catalogo</a>
	<h2  th:text="${libro.titolo}">Titolo del libro</h2>
	<h3 th:text="${#numbers.formatDecimal(libro.prezzo,0,'POINT',2,'COMMA')}">Prezzo del libro</h3>
	<ul>
		<li th:text="${libro.categoria.descrizione}">Categoria del libro</li>
		<li th:text="${libro.autore.nome} + ' ' + ${libro.autore.cognome}">Autore del libro</li> 
	</ul>
	<div th:if="${libro.quantita > 0}">
		<a th:if=${isLog} th:href="@{/dettaglio/compra(id=${libro.id})}">Aggiungi al Carrello</a>
		<a th:if="${!isLog}" th:href="@{/loginutente}">Clicca qui per loggarti e iniziare ad acquistare</a>		
	</div>
	<p th:if="${risultato != null}" th:text="${risultato.equals('ok') ? 'Libro aggiunto' : 'Libro già presente'}" th:style="${risultato.equals('ok') ? 'color:green' : 'color:red'}">
	</p>
</body>
</html>