<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Area Riservata</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
	<div>
		<a th:href="@{/}">Torna in Home Page</a>
		<a th:href="@{/riservatautente/logout}">Logout Utente</a>
	</div>
	<h1 th:text="'Benvenuto in area riservata ' + ${utente.profilo.username} "></h1>
	<form th:object="${utente}" method="post">
	<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{profilo.id}">
		<input type="text" placeholder="nome" th:field="*{nome}">
		<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
		<br>
		<input type="text" placeholder="cognome" th:field="*{cognome}">
		<p th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></p>
		<br>
		<input type="text" placeholder="username" th:field="*{profilo.username}" readonly>
		<br>
		<input type="text" placeholder="password" th:field="*{profilo.password}" 
			id="pwd">
		<button type="button" onclick="mostra()">Mostra/Nascondi</button>
		<p th:if="${#fields.hasErrors('profilo.password')}" th:errors="*{profilo.password}"></p>
		<br>
		<input type="submit" value="Modifica Dati">
	</form>
	<h4 th:if="${carrello == null}">Non hai un carrello</h4>
	<table th:if="${carrello != null}">
			<tr th:each="item : ${carrello}">
				<td th:text="${item.libro.titolo}"></td>
				<td th:text="${item.libro.prezzo}"></td>
				<td>
					<button class="minus" th:value="${item.libro.id}">-</button>
				</td>
				<td th:id="'quantity' + ${item.libro.id}" th:text="${item.quantita}"></td>
				<td>
					<button class="plus" th:value="${item.libro.id}">+</button>
				</td>
				<td>
					<a th:href="@{/riservatautente/rimuovi(id=${item.libro.id})}" >Rimuovi dal carrello</a>
				</td>
	</table>
	<h5 th:if="${carrello != null}" th:text="'Totale Carrello Euro ' + ${totale}" id="totaleCarrello"></h5>
	
	<a th:if="${carrello != null}" th:href="@{/riservatautente/invia}">Invia Ordine</a>
	<script>
		document.addEventListener("DOMContentLoaded", function(){
			const pwd = document.getElementById("pwd");
			pwd.type = "password";
		});
		
		function mostra(){
			if(pwd.type == "password")
			pwd.type= "text";
			else
				pwd.type = "password";
		}
	</script>
	<script th:src="@{javascript/carrello.js}"></script>
</body>
</html>